
.loader {
    &__wrapper {
        position: relative;
        top: 0;
        left: 0;
        height: 260px;
    }
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 20;
    transform: translate(-50%, -50%);
        &__inner {
            font-size: 10px;
            margin: 50px auto;
            text-indent: -9999em;
            width: 10em;
            height: 10em;
            border-radius: 50%;
            background: #FFBCC1;
            background: linear-gradient(to right, #FFBCC1 10%, rgba(105,105,105, 0) 42%);
            position: relative;
            animation: load3 1.4s infinite linear;
            transform: translateZ(0);

            &:before {
                width: 50%;
                height: 50%;
                background: #FFBCC1;
                border-radius: 100% 0 0 0;
                position: absolute;
                top: 0;
                left: 0;
                content: '';
            }

            &:after {
                background: #ffffff;
                width: 75%;
                height: 75%;
                border-radius: 50%;
                content: '';
                margin: auto;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
            
        }
}

@-webkit-keyframes load3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}