$bg-color: #EAEAEA;
$pink: #FF868E;
$light-pink: #FFBCC1;
$dark-pink: #F3A499;
$green: #97EAB9;
$yellow: #FFD280;

$black: #1D1D1D;
$grey-text: #777777;
$lightgrey-text: #8C8C8C;
$filter-bg: #EAEAEA;

$pink-border: #FBE0DC;

$pink-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 134, 142, 0.5) 100%);