@import './_variables.scss';
@import './mixins.scss';
@import './clear-styles.scss';

body {
    background-color: $bg-color;
    font-family: 'Inter', sans-serif;
}

.hide {
    opacity: 0
}

.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &__main {
        @include element-flex(row, center, center);
    }
}

.aside {
    @include element-flex(row, center, center);
    width: 40%;
    &__inner {
        @include element-flex(column, center, center);
        gap: 30px;
    }
    &__greeting {
        position: relative;
        img {
            display: block;
            position: absolute;
            top: -40px;
            left: -50px;
            z-index: -1;

            transform: rotate(-40deg);
        }
    }
    &__heading {
        z-index: 2;
        font-size: 32px;
        font-weight: 600;
    }
    &__desc {
        font-weight: 400;
        font-size: 18px;
        color: $grey-text;
        text-align: center;

        max-width: 350px;
    }
    &__button{
        width: 200px;
        height: 60px;
        padding: 10px 20px;
        @include element-flex(row, space-between, center);
        background-color: white;
        @include shadow;
        border-radius: 20px;
    }
}

.tabs {
    &-container {
        width: 600px;
        height: 500px;
        background-color: white;
        @include shadow;
        border-radius: 20px;
    }
    &__list {
        display: flex;
    }
    &__name {
        flex: 25%;

        @include element-flex(column, space-between, center);
        background-color: $black;
        color: white;
        transition: .3s;

        height: 60px;

        & button {
            width: 100%;
            height: 100%;
        }

        &.active {
            background-color: $light-pink;
            color: $black;
        }

        &:first-child {
            border-radius: 20px 0 0 ;
        }

        &:last-child {
            border-radius: 0px 20px 0px 0;
        }
    }
}

.random-cat {
    &__container {
        @include element-flex(column, center, center);

        padding-top: 30px;

        position: relative;
    }
    &__image {
        width: 500px;
        height: 350px;

        & img {
            @include image;
            border-radius: 20px;
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;

        position: absolute;
        bottom: -30px;
    }
}

.cat__button {
    width: 60px;
    height: 60px;
    @include element-flex(column, center, center);

    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    & img {
        height: 30px;
        width: 30px;
    }
}

.dislike {
    background-color: $dark-pink;
}

.like {
    background-color: $green;
}

.fav {
    background-color: $yellow;
}

.tabContent {
    height: 440px;
    overflow-y: auto;
}

.component__filter {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 15px 0;
}

.filter {    
    background-color: $filter-bg;
    border-radius: 20px;
    padding: 15px;
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 2fr 2fr 40px 40px;
    gap: 10px;

    &__select {
        width: 200px;
    }

    &.gallery-filter {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.label {
    display: block;
    color: $grey-text;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 12px;
}

.reload-btn {
    min-width: 40px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 10px;

    margin-top: auto;
    @include element-flex(row, center, center)
}

.breeds {
    &__images {
        width: 95%;
        margin: 0 auto;
        padding-top: 10px;
    }
}

.grid{
    &-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: 200px;
        gap: 10px;
        padding-bottom: 15px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &-item{
        height: 200px;
        border-radius: 20px;
    }

    &-cat {
        @include image;
        border-radius: 20px;
    }

}

.not-fount-message {
    text-align: center;
    font-size: 18px;
    color: $dark-pink;
}

@media screen and (max-width: 900px) {
    .wrapper{
        flex-direction: column;
        gap: 30px;

        padding: 50px 0;
    }
    .aside {
        width: 100%;
    }

    .tabs-container {
        width: 95%;
        margin: 0 auto;
    }
}