@use 'variables';
@import './mixins.scss';
@import './clear-styles.scss';

body {
    background-color: variables.$bg-color;
    font-family: 'Inter', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #c7c7c7; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #a4a4a4; 
  }

.btn {
    display: block;
    @include element-flex(row, center, center);
    min-width: 50px;
    width: 50px;
    height: 50px;
    max-height: 50px;
    background: white;
    border-radius: 10px;
    transition: .3s;
    color: variables.$pink;

    cursor: pointer;
    
    &.delete {
        width: 80px;
    }

    &:hover {
        background: variables.$light-pink;
    }
}

.hide {
    opacity: 0
}

.wrapper {
    display: flex;
    justify-content: space-between;
    min-height: 100vh;

    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

    &__main {
        @include element-flex(row, center, center);
    }
}

.aside {
    @include element-flex(row, center, center);
    width: 40%;
    &__inner {
        @include element-flex(column, center, center);
        gap: 30px;
    }
    &__greeting {
        position: relative;
        img {
            display: block;
            position: absolute;
            top: -40px;
            left: -50px;
            z-index: -1;

            transform: rotate(-40deg);
        }
    }
    &__heading {
        z-index: 2;
        font-size: 32px;
        font-weight: 600;
    }
    &__desc {
        font-weight: 400;
        font-size: 18px;
        color: variables.$grey-text;
        text-align: center;

        max-width: 350px;
    }
    &__button{
        width: 200px;
        height: 60px;
        padding: 10px 20px;
        @include element-flex(row, space-between, center);
        background-color: white;
        @include shadow;
        border-radius: 20px;
    }
}

.tabs {
    &-container {
        width: 600px;
        height: 500px;
        background-color: white;
        @include shadow;
        border-radius: 20px 20px 0 0;
    }
    &__list {
        display: flex;
    }
    &__name {
        flex: 25%;

        @include element-flex(column, space-between, center);
        background-color: variables.$black;
        color: white;
        transition: .3s;

        height: 60px;

        & button {
            width: 100%;
            height: 100%;
        }

        &.active {
            background-color: variables.$light-pink;
            color: variables.$black;
        }

        &:first-child {
            border-radius: 20px 0 0 ;
        }

        &:last-child {
            border-radius: 0px 20px 0px 0;
        }
    }
}

.random-cat {
    &__container {
        @include element-flex(column, center, center);

        padding-top: 30px;

        position: relative;
    }
    &__image {
        width: 90%;
        height: 350px;

        & img {
            @include image;
            border-radius: 20px;
        }
    }

    &__buttons {
        display: flex;
        gap: 10px;

        position: absolute;
        bottom: -30px;
    }
}

.cat__button {
    width: 60px;
    height: 60px;
    @include element-flex(column, center, center);

    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;

    & img {
        height: 30px;
        width: 30px;
    }
}

.dislike {
    background-color: variables.$dark-pink;
}

.like {
    background-color: variables.$green;
}

.fav {
    background-color: variables.$yellow;
}

.tabContent {
    height: 440px;
    overflow-y: auto;
}

.component__filter {
    position: sticky;
    z-index: 10;
    top: 0;
    background-color: white;
    padding: 15px 0;
}

.filter {    
    background-color: variables.$filter-bg;
    border-radius: 20px;
    padding: 15px;
    width: 95%;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 3fr 3fr 1fr;
    gap: 10px;

    &__buttons {
        display: flex;
        justify-content: space-between;
        gap: 10px;
    }

    &__select {
        width: 200px;
    }

    &.gallery-filter {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

.label {
    display: block;
    color: variables.$grey-text;
    text-transform: uppercase;
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 12px;
}

.reload-btn {
    min-width: 40px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 10px;

    margin-top: auto;
    @include element-flex(row, center, center)
}

.breeds {
    &__images {
        width: 95%;
        margin: 0 auto;
        padding-top: 10px;
    }
}

.grid{
    &-block {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        // grid-template-rows: 200px;
        gap: 10px;
        padding-bottom: 15px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }

    &-item{
        height: 200px;
        border-radius: 20px;
        position: relative;

        &:hover .item-hover-trigger {
            // display: block;
            opacity: 1;
        }
    }

    &-cat {
        @include image;
        border-radius: 20px;
    }

}

.item-hover-trigger {
    // display: none;
    opacity: 0;
    transition: .4s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 134, 142, 0.5) 100%);
    border-radius: 20px;
}

.like-btns-white {
    @include element-flex(row, center, center);
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.not-fount-message {
    text-align: center;
    font-size: 18px;
    color: variables.$dark-pink;
}

.btn-info {
    color: variables.$pink;
    font-size: 24px;
}

.cat {
    &__info {
        width: 95%;
        margin: 0 auto;
        padding-top: 15px;
    }
    &__slider {
        // margin-bottom: 30px;
    }
    &__description {
        border-radius: 20px;
        border: 1.5px solid variables.$light-pink;
        padding: 15px;
    }
}

// slider
.slider {
    width: 100%;
    // width: 500px;
    margin: 0 auto 40px;
    overflow-x: hidden;
    position: relative;

    &__slides {
        display: flex;
        width: 100%;
    }
}
.slide{
    min-width: 100%;
    // height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.slide img{
    // object-fit: cover;
    @include image
}

// dots
.dots{
    width: 80px;
    background-color: white;
    padding: 8px 0px 0;
    border-radius: 15px 15px 0 0;
    height: 26px;
    @include element-flex(row, center, center);
    margin: 0 auto;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.dot{
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: variables.$pink;
    opacity: .5;
    transition: .4s ease;
    margin: 0 3px;
}

.dot.active{
    opacity: 1;
}


#prevBtn{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    z-index: 100;
    @include element-flex(row, center, center)
}
#prevBtn img{
    // width: 100%;
    width: 25px;
    height: 25px;
    object-fit: cover;
    opacity: .8;
}
#nextBtn{
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    z-index: 100;
    @include element-flex(row, center, center)
}
#nextBtn img{
    width: 25px;
    height: 25px;
    object-fit: cover;
    opacity: .8;
}

.description {
    position: relative;
    &__name {
        font-weight: 500;
        font-size: 20px;
        color: variables.$black;
        text-align: center;
        padding: 5px 20px;
        background-color: white;
        position: absolute;
        top: -18px;
        left: 50%;
        transform: translateX(-50%);
    }
    &__text {
        text-align: center;
        color: variables.$grey-text;
        font-size: 12px;
        max-width: 80%;
        margin: 15px auto;
    }

    &__traits {
        font-size: 14px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    &__img {
        // width: 95%;
        width: 100%;
        height: 250px;
        // margin: 0 auto;
    
        & img {
            @include image;
            border-radius: 20px
        }
    }
}

.trait {
    display: flex;
    align-items: baseline;
    gap: 20px;

    &__title {
        font-weight: 600;
        color: variables.$black;
    }
    &__text {
        font-size: 12px;
        color: variables.$grey-text;
    }
}

.back-btn {
    @include element-flex(row, center, center);
    color: variables.$grey-text;
    // background-color: $light-pink;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    padding: 10px;
    // border-radius: 10px;
    margin: 10px auto;
    // @include shadow;
}

.favourites__container {
    padding: 15px 0;
    max-width: 95%;
    margin: 0 auto;
}

.sorry-message {
    text-align: center;
    font-size: 18px;
    color: variables.$pink;
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    .wrapper{
        flex-direction: column;
        gap: 30px;

        padding: 50px 0 10px;
    }
    .aside {
        width: 100%;
    }

    .filter {
        &__select {
            width: 100%;
        }
    }

    .tabs-container {
        height: 600px;
        width: 90%;
    }

    .tabContent {
        height: 540px;
    }
}

@media screen and (max-width: 600px) {
    .aside {
        &__heading {
            font-size: 26px;
        }
        &__desc {
            font-size: 13px;
        }
        &__button {
            height: 50px;
            & img {
                height: 40px;
                width: 40px;
            }
        }
    }
    .filter {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 100%;
    }

    .grid {
        &-block {
            grid-template-columns: 1fr;
        }
        &-item {
            height: 300px;
        }
    }

    .tabs__name {
        font-size: 13px;
    }

    .not-fount-message {
        font-size: 14px;
    }
}